body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-logo {
  width: 200px;
}

#basic-navbar-nav {
  flex-flow: column
}

.border-nav {
  border-top: 10px solid rgb(238, 80, 106);
}

.alto-maximo {
  min-height: 100vh !important;
}

.boton-pago > a {
  color: white !important;
}

.boton-pago > a:hover {
  text-decoration: none !important;
}

/* BOOTSTRAP OVERRIDES */

.btn-primary {
  background-color: rgb(238, 80, 106);
  border-color: rgb(238, 80, 106);
}

.btn-primary:hover {
  background-color: rgb(235, 38, 71);
  border-color: rgb(238, 80, 106);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > btn-primary.dropdown-toggle {
  background-color: rgb(235, 38, 71);
  border-color: rgb(238, 133, 150);
  box-shadow: 0 0 0 0.2rem rgba(148, 38, 47, 0.5);
}

.btn-primary:focus {
  background-color: rgb(235, 38, 71);
  border-color: rgb(238, 133, 150);
  box-shadow: 0 0 0 0.2rem rgba(148, 38, 47, 0.5);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-item img{
  min-height: 30vh;
  object-fit:cover;
}
